* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  color: #2d2d2d;
  margin-bottom: 30px;
}

p {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #a6a6a6;
}

button {
  font-size: 1.2em;
  font-weight: 700;
  background-color: #2d2d2d;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0092ea;
}

input[type="number"] {
  font-size: 1.2em;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}
